* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.main-header .container{
    padding: 0 25px;
    margin: 0 auto;
    max-width: 100%;
}

.logo a {
    color: #dc4f72;
}

.menu ul {
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

a.active {
    color: #dc4f72;
}

.menu i {
    color: #fff;
}

.search-right {
    grid-template-columns: auto 1fr;
}

.section {
    display: block;
}

header.main-header {
    display: grid;
    background-color: #ffffff;
}
.search-right i {
    width: 40px;
    height: 40px;
   border-radius: 50%;
   background-color: transparent;
   border-color: #fff;
    
}











/* start FAQS */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

ul {
    list-style: disc;
}

ol, ul {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

/* .header-section {
    max-width: 750px;
    margin: auto;
}*/

.header-section h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 750px;
}

.w3l-faq-block {
    background: #f7f9fc;
    padding-top: 48px !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.FAQS .w3l-faq-block {
    padding: 90px 0 90px 0 !important;
}

.col-md-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.w3l-faq-block .faq-image {
    position: sticky;
    top: 80px;
}

.col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.w3l-faq-block .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    appearance: none;
}

.w3l-faq-block .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

.w3l-faq-block .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2c3038;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.w3l-faq-block .w3l-faq p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.w3l-faq-block .w3l-faq p {
    transition: all 0.25s ease-in-out;
}

.w3l-faq-block .w3l-faq ul li {
    position: relative;
    padding: 25px 40px 10px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 40px;
    border-radius: 6px;
    background: #fff;
}

.w3l-faq-block .w3l-faq ul li {
    animation: all 1s ease ease-in-out;
}
/* end FAQ */

/* start project */
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #2c3038;
    background: #fff !important;
    border-bottom: 3px solid #f8f9fa;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #2c3038;
    background: #fff !important;
    border-bottom: 3px solid #f8f9fa;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px #dc4f72 solid !important;
    color: #dc4f72 !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.w3l-products .products-content {
    margin: 20px 0;
}

.resp-tab-content {
    border-top-color: #5AB1D0;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

h2.resp-tab-active {
    background: #DBDBDB;
    border-bottom: 3px #dc4f72 solid !important;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-6 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.w3l-products .products-content h3 {
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.w3l-products .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

body button, .btn, body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}


button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

a {
    background-color: transparent;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.resp-tabs-container .products-content .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.w3l-footer .w3l-footer-16-main.py-5 {
    background: #f7f9fc;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.w3l-footer ul.social li, .w3l-footer ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}

.column li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.w3l-footer .subscribe input[type="email"] {
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 6px;
}

.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.w3l-footer .w3l-footer-16-main p a {
    color: #2c3038;
}

.w3l-footer ul.social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.column li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

/* strat backtotop */
.backToTop {
    width: 50px;
    height: 50px;
    background: #dc4f72;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #dc4f72;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
} 
/* end backToTop  */