* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header.main-header {
    background-color: #131617;
    height: 90px;
    transition: all 0.4s ease 0s;
}

.main-header button {
    color: #dc4f72;
    border-color: #dc4f72;
    font-size: 15px;
    line-height: 30px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    max-width: 1200px;
}

.navbar {
    padding: 0;
    position: relative;
    width: 100%;
    justify-content: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
}

.logo a {
    color: #dc4f72;
    font-size: 25px;
    letter-spacing: -1;
    display: inline-block;
}

.navbar-expand-lg .navbar-nav .navbar-link {
    color: #fff;
    padding: 14px 0;
    transition: all 0.5s ease;
    list-style: none;
    text-decoration: none;
}


a.active {
    color: #dc4f72;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
}


.search-right {
    grid-template-columns: auto 1fr;
}

a.search-search span.fa {
    color: #fff;
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #191c1d;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #333;
}

.search-right .pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 1;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.search-right .pop-overlay:target {
    visibility: visible;
    opacity: 1;
}

.search-right .popup {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    top: 50%;
    max-width: 600px;
}

.popup input {
    width: 100%;
    color: #b7b7b7;
    background: #131617;
    height: 60px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 7px 0 0 7px;
}

.pop-overlay .popup button {
    background: #dc4f72;
    color: #fff;
    font-size: 18px;
    padding: 0 25px;
    text-align: center;
    border-radius: 0 7px 7px 0;
    border-left: 0;
}

.pop-overlay .popup a {
    position: absolute;
    color: #fff;
    top: -50px;
    right: 20px;
    font-size: 30px;
    opacity: 0.7;
    line-height: 1;
    transition: all 200ms;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover{
    background: #dc4f72;
    border-color: #dc4f72;
}

.mode-container {
    width: 24px;
    height: 24px;
}

.gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}

.gg-sun:before {
    transform: rotate(-45deg);
}

.gg-sun:after {
    transform: rotate(45deg);
}


.gg-sun:after,
.gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

input:checked+.mode-container i.gg-sun {
    display: block;
}

input:checked+.mode-container i.gg-moon {
    display: none;
}

.mode-container i.gg-sun {
    display: none;
}

.mode-container i.gg-moon {
    display: none;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
    color: #fff;
}

.gg-moon,
.gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}


/* start FAQS */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: #fff;
    font-size: 46px;
    line-height: 1;
}

.header-fixed-space-height {
    margin-top: 90px;
}

.w3l-index1 {
    margin-top: 90px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #fff;
    font-weight: 700;
}

.w3l-index1 .content-left p {
    color: #b7b7b7;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.clear {
    clear: both;
}
.s-block a {
    text-decoration: none;
}

.w3l-index2 {
    background: #131617;
}

.w3l-index2 .s-block {
    background: #191c1d;
    padding: 3rem 2rem;
    border: 1px solid #191c1d;
    border-radius: 25px;
}

.w3l-index2 .s-block h3 {
    color: #eee;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.w3l-index2 .s-block p {
    color: #b7b7b7;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.w3l-index2 .s-block:hover {
    transform: translateY(-0.7rem);
    transition: 0.3s ease-in-out;
}

.w3l-index3 {
    background-color: #191c1d;
}

.w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #eee;
    font-weight: 700;
}

.w3l-index3 .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #b7b7b7;
    line-height: 24.4px;
}

.btn-primary {
    color: #fff;
    background: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    background: #d62f58;
    border-color: #cf2952;
}

.w3l-stats {
    background: #191c1d;
}

.w3l-stats .stats_info {
    background-color: #131617;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transition: 0.3s ease;
    border: 1px solid #333;
}

.w3l-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #eee;
    font-weight: 700;
}

.w3l-stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.w3l-stats p.text{
    color: #b7b7b7;
}

.w3l-index4 .middle-section {
    max-width: 550px;
}

.w3l-index4 .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.w3l-index4 .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

ul {
    list-style: disc;
}

ol, ul {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

/* .header-section {
    max-width: 750px;
    margin: auto;
}*/

.header-section h3 {
    color: #eee;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 750px;
}

.w3l-faq-block {
    background: #f7f9fc;
    padding-top: 48px !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.FAQS .w3l-faq-block {
    padding: 90px 0 90px 0 !important;
}

.col-md-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.w3l-faq-block .faq-image {
    position: sticky;
    top: 80px;
}

.col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.w3l-faq-block .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    appearance: none;
}

.w3l-faq-block .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

.w3l-faq-block .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2c3038;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.w3l-faq-block .w3l-faq p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.w3l-faq-block .w3l-faq p {
    transition: all 0.25s ease-in-out;
}

.w3l-faq-block .w3l-faq ul li {
    position: relative;
    padding: 25px 40px 10px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 40px;
    border-radius: 6px;
    background: #fff;
}

.w3l-faq-block .w3l-faq ul li {
    animation: all 1s ease ease-in-out;
}

/* end FAQ */

/* start project */
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #2c3038;
    background: #fff !important;
    border-bottom: 3px solid #f8f9fa;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #2c3038;
    background: #fff !important;
    border-bottom: 3px solid #f8f9fa;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px #dc4f72 solid !important;
    color: #dc4f72 !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.w3l-products .products-content {
    margin: 20px 0;
}

.resp-tab-content {
    border-top-color: #5AB1D0;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

h2.resp-tab-active {
    background: #DBDBDB;
    border-bottom: 3px #dc4f72 solid !important;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}

/* .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-6 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
} */

.w3l-products .products-content h3 {
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.w3l-products .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

body button,
.btn,
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}


button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

a {
    background-color: transparent;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.resp-tabs-container .products-content .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.w3l-footer .w3l-footer-16-main.py-5 {
    background: #f7f9fc;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.w3l-footer ul.social li, .w3l-footer ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}

.column li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.w3l-footer .subscribe input[type="email"] {
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 6px;
}

.header-section h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.w3l-footer .w3l-footer-16-main p a {
    color: #2c3038;
}

.w3l-footer ul.social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.column li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

/* strat backtotop */
.backToTop {
    width: 50px;
    height: 50px;
    background: #dc4f72;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #dc4f72;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* end backToTop  */